@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />
    Deliverable 0 is an MVC Bartender Application.
    Customers are able to view the cocktail menu and place orders by clicking above.
    Staff are able to view the order queue and set them for pick up.
</div>
